<div class="navbar-fixed">
  <nav class="purple fix">
    <div class="container">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Appraisal</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">

          <!-- Dropdown Trigger -->
          {{#if_eq user.type 'faculty'}}
          <li><a href="/">Home</a></li>
          <li><a class="dropdown-trigger" href="" data-target="academic-web">Academic<i
                class="material-icons right">arrow_drop_down</i></a></li>
          <li><a href="/leave">Leave</a></li>
          <li><a class="dropdown-trigger" href="" data-target="annexure-1-web">Annexure 1<i
                class="material-icons right">arrow_drop_down</i></a></li>
          <li><a class="dropdown-trigger" href="" data-target="annexure-2-web">Annexure 2<i
                class="material-icons right">arrow_drop_down</i></a></li>
          <li><a class="dropdown-trigger" href="" data-target="annexure-3-web">Annexure 3<i
                class="material-icons right">arrow_drop_down</i></a></li>

          <li><a class="dropdown-trigger" href="" data-target="profile"><i class="material-icons">account_box</i></a>
          </li>
          {{else}}
          {{/if_eq}}

          {{#if_eq user.type 'hod'}}
          <li><a href="/users/hod/home">Home</a></li>
          <li><a href="/users/hod/appraisalList">Appraisal List</a></li>
          <li><a class="dropdown-trigger" href="" data-target="profile-hod"><i
                class="material-icons">account_box</i></a>
          </li>
          {{else}}
          {{/if_eq}}

          {{#if_eq user.type 'manager'}}
          <li><a href="/users/management/home">Home</a></li>
          <li><a href="/users/management/registerUser" class="white-text">Register User</a></li>
          <li><a href="/users/logout" class="white-text">Logout</a></li>
          </li>
          {{else}}
          {{/if_eq}}

          {{#unless user}}
          <li><a href="/">Home</a></li>
          {{/unless}}
        </ul>
        {{!-- dropdown of web view --}}
        <ul id="academic-web" class="dropdown-content text-black">
          <li><a href="/academicPerformance/teachingLoad" class="black-text">Teaching Load</a></li>
          <li><a href="/academicPerformance/teachingAssistant" class="black-text">Teaching Assistant</a></li>
          <li><a href="/academicPerformance/newBooks" class="black-text">New Books</a></li>
          <li><a href="/academicPerformance/addedExp" class="black-text">Added Experiments</a></li>
          <li><a href="/academicPerformance/innovativeTeaching" class="black-text">Teaching Techniques</a></li>
          <li class="divider"></li>
        </ul>
        <ul id="annexure-1-web" class="dropdown-content">
          <li><a href="/annexure-1/timeTable" class="black-text">1.1 Time table related activities</a></li>
          <li><a href="/annexure-1/classAdvisor" class="black-text">1.2 Class advisor</a></li>
          <li><a href="/annexure-1/sportsActivities" class="black-text">1.3 Sports Activities</a></li>
          <li><a href="/annexure-1/culturalActivities" class="black-text">1.4 Cultural Activities</a></li>
          <li><a href="/annexure-1/projectBasedLearning" class="black-text">1.5 Project Based Learning</a></li>
          <li><a href="/annexure-1/udaan" class="black-text">1.6 UDAAN Incubation Activities</a></li>
          <li><a href="/annexure-1/placementActivities" class="black-text">1.7 Placement Activities</a></li>
          <li><a href="/annexure-1/inhousePlacement" class="black-text">1.8 In house Placement activities</a></li>
          <li><a href="/annexure-1/studentOrganizations" class="black-text">1.9 Student organization activities</a></li>
          <li><a href="/annexure-1/industrialVisitActivities" class="black-text">1.10 Industrial Visits Related
              Activities</a></li>
          <li><a href="/annexure-1/admissionProcessActivities" class="black-text">1.11 Admission Process related
              Activities</a></li>
          <li><a href="/annexure-1/examActivitiesSupervision" class="black-text">1.12 Exam related Activities
              (University Exams:
              Supervision Details)</a></li>
          <li><a href="/annexure-1/examAssessmentExternal" class="black-text">1.13 Exam Assessment Related Activities
              (External)</a></li>
          <li><a href="/annexure-1/examActivitiesCollegeLevel" class="black-text">1.14 Exam related Activities
              (Assessment/Oral/Practical
              Exams Conducted)</a></li>
          <li><a href="/annexure-1/ITmaintenance" class="black-text">1.15 IT Maintenance</a></li>
          <li><a href="/annexure-1/lakshya" class="black-text">1.16 Lakshya related Activities</a></li>
          <li><a href="/annexure-1/magazineNewsletter" class="black-text">1.17 Magazine/Newsletter related
              Activities</a></li>
          <li><a href="/annexure-1/conductOfSTTP" class="black-text">1.18 Conduct of STTP</a></li>
          <li><a href="/annexure-1/departmentUGProjects" class="black-text">1.19 Departmental UG Projects Undertaken</a>
          </li>
          {{!-- <li class="divider"></li> --}}
        </ul>
        <ul id="annexure-2-web" class="dropdown-content text-black">
          <li><a href="/annexure-2/papersPublishedinNationalConf" class="black-text">2.1 Paper published in national
              conference</a></li>
          <li><a href="/annexure-2/papersPublishedinInternationalConf" class="black-text">2.2 Paper published in
              internaltional conference</a></li>
          <li><a href="/annexure-2/papersPublishedinJournals" class="black-text">2.3 Paper published in Journals</a>
          </li>
          <li><a href="/annexure-2/moocs" class="black-text">2.4 MOOCS</a></li>
          <li><a href="/annexure-2/swayam" class="black-text">2.5 SWAYAM</a></li>
          <li><a href="/annexure-2/shortTermTraining" class="black-text">2.6 Short term training program</a></li>
          <li><a href="/annexure-2/seminars" class="black-text">2.7 Seminars</a></li>
          {{!-- <li class="divider"></li> --}}
        </ul>
        <ul id="annexure-3-web" class="dropdown-content text-black">
          <li><a href="/annexure-3/resourcePerson" class="black-text">3.1 Resource Person in STTP/Training
              Course/Lecture Talks</a></li>
          <li><a href="/annexure-3/contributionToSyllabus" class="black-text">3.2 Contribution To Syllabus Framing</a>
          </li>
          <li><a href="/annexure-3/memberOfUniversityCommitte" class="black-text">3.3 Member Of University Committe</a>
          </li>
          <li><a href="/annexure-3/consultancyAssignment" class="black-text">3.4 Consultancy Assignment</a></li>
          <li><a href="/annexure-3/externalProjectsOrCompetition" class="black-text">3.5 External Projects Or
              Competitions Participations</a></li>
        </ul>
        <ul id="profile" class="dropdown-content text-black">
          <li><a href="/profile/faculty/index" class="black-text">View Profile</a></li>
          
          <li><a href="/users/faculty/facultyOverview" class="black-text">Faculty Overview</a></li>
          <li class="divider"></li>
          <li class="divider"></li>
          <li><a href="/users/logout" class="black-text">Logout</a></li>

        </ul>
        <ul id="profile-hod" class="dropdown-content text-black">
          <li><a href="/users/hod/registerFaculty" class="black-text">Register Faculty</a></li>
          <li><a href="/profile/hod/index" class="black-text">View Profile</a></li>
          <li><a href="/users/logout" class="black-text">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
{{!-- side bar content for mobile view --}}
<ul id="mobile-demo" class="sidenav">
  {{#if_eq user.type 'faculty'}}
  <li><h4 class="center purple-text">Appraisal System</h4></li>
  <li><a class="sideNavPadding" href="/">Home</a></li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">

      <li>
        <a class="collapsible-header">Academic<i class="material-icons right">arrow_drop_down</i></a>
        <div class="collapsible-body">
          <ul>
            <li><a href="/academicPerformance/teachingLoad" class="black-text">Teaching Load</a></li>
            <li><a href="/academicPerformance/teachingAssistant" class="black-text">Teaching Assistant</a></li>
            <li><a href="/academicPerformance/newBooks" class="black-text">New Books</a></li>
            <li><a href="/academicPerformance/addedExp" class="black-text">Added Experiments</a></li>
            <li><a href="/academicPerformance/innovativeTeaching" class="black-text">Teaching Techniques</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li><a class="sideNavPadding" href="/leave">Leave</a></li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">Annexure 1<i class="material-icons right">arrow_drop_down</i></a>
        <div class="collapsible-body">
          <ul>
            <li><a href="/annexure-1/timeTable" class="black-text">1.1 Time table related activities</a></li>
            <li><a href="/annexure-1/classAdvisor" class="black-text">1.2 Class advisor</a></li>
            <li><a href="/annexure-1/sportsActivities" class="black-text">1.3 Sports Activities</a></li>
            <li><a href="/annexure-1/culturalActivities" class="black-text">1.4 Cultural Activities</a></li>
            <li><a href="/annexure-1/projectBasedLearning" class="black-text">1.5 Project Based Learning</a></li>
            <li><a href="/annexure-1/udaan" class="black-text">1.6 UDAAN Incubation Activities</a></li>
            <li><a href="/annexure-1/placementActivities" class="black-text">1.7 Placement Activities</a></li>
            <li><a href="/annexure-1/inhousePlacement" class="black-text">1.8 In house Placement activities</a></li>
            <li><a href="/annexure-1/studentOrganizations" class="black-text">1.9 Student organization activities</a></li>
            <li><a href="/annexure-1/industrialVisitActivities" class="black-text">1.10 Industrial Visits Activities</a>
            </li>
            <li><a href="/annexure-1/admissionProcessActivities" class="black-text">1.11 Admission Process Activities</a></li>
            <li><a href="/annexure-1/examActivitiesSupervision" class="black-text">1.12 Exam Activities(Supervision)</a></li>
            <li><a href="/annexure-1/examAssessmentExternal" class="black-text">1.13 Exam Assessment Activities </a></li>
            <li><a href="/annexure-1/examActivitiesCollegeLevel" class="black-text">1.14 Exam Activities (Ass./O/P)</a></li>
            <li><a href="/annexure-1/ITmaintenance" class="black-text">1.15 IT Maintenance</a></li>
            <li><a href="/annexure-1/lakshya" class="black-text">1.16 Lakshya related Activities</a></li>
            <li><a href="/annexure-1/magazineNewsletter" class="black-text">1.17 Newsletter related Activities</a></li>
            <li><a href="/annexure-1/conductOfSTTP" class="black-text">1.18 Conduct of STTP</a></li>
            <li><a href="/annexure-1/departmentUGProjects" class="black-text">1.19 UG Projects Undertaken</a></li>
            {{!-- <li class="divider"></li> --}}
          </ul>
        </div>
      </li>
    </ul>
  </li>

  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">Annexure 2<i class="material-icons right">arrow_drop_down</i></a>
        <div class="collapsible-body">
          <ul>
            <li><a href="/annexure-2/papersPublishedinNationalConf" class="black-text">2.1 National level paper</a></li>
            <li><a href="/annexure-2/papersPublishedinInternationalConf" class="black-text">2.2 Interational level
                paper</a></li>
            <li><a href="/annexure-2/papersPublishedinJournals" class="black-text">2.3 Paper published in Journals</a>
            </li>
            <li><a href="/annexure-2/moocs" class="black-text">2.4 MOOCS</a></li>
            <li><a href="/annexure-2/swayam" class="black-text">2.5 SWAYAM</a></li>
            <li><a href="/annexure-2/shortTermTraining" class="black-text">2.6 Short term training</a></li>
            <li><a href="/annexure-2/seminars" class="black-text">2.7 Seminars</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>

  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">Annexure 3<i class="material-icons right">arrow_drop_down</i></a>
        <div class="collapsible-body">
          <ul>
            <li><a href="/annexure-3/resourcePerson" class="black-text">3.1 Resource Person</a></li>
            <li><a href="/annexure-3/contributionToSyllabus" class="black-text">3.2 Contribution To Syllabus</a>
            </li>
            <li><a href="/annexure-3/memberOfUniversityCommitte" class="black-text">3.3 Member Of University</a></li>
            <li><a href="/annexure-3/consultancyAssignment" class="black-text">3.4 Consultancy Assignment</a></li>
            <li><a href="/annexure-3/externalProjectsOrCompetition" class="black-text">3.5 External Projects Or
                Competitions</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li><a class="sideNavPadding" href="/profile/faculty/index">Profile</a></li>
  <li><a class="sideNavPadding" href="/users/faculty/facultyOverview" class="black-text">Faculty Overview</a></li>
  <li class="divider"></li><hr>
  <li><a class="sideNavPadding" href="/users/logout" class="black-text">Logout</a></li>
  {{else}}
  {{/if_eq}}

  {{#if_eq user.type 'hod'}}
  <li><h4 class="center purple-text">Appraisal System</h4></li>
  <li><a href="/users/hod/home">Home</a></li>
  <li><a href="/users/hod/appraisalList">Appraisal List</a></li>
  <li><a href="/users/hod/registerFaculty">Register Faculty</a></li>
  <li><a class="dropdown-trigger" href="/profile/hod/index" data-target="profile">Profile</a></li>
  <li><a href="/users/logout" class="black-text">Logout</a></li>
  {{else}}
  {{/if_eq}}

  {{#if_eq user.type 'manager'}}
  <li><h4 class="center purple-text">Appraisal System</h4></li>
  <li><a href="/users/management/home">Home</a></li>
  <li><a href="/users/management/registerUser" class="black-text">Register User</a></li>
  <hr>
  <li><a href="/users/logout" class="black-text">Logout</a></li>
  {{else}}
  {{/if_eq}}

  {{#unless user}}
  <li><h4 class="center purple-text">Appraisal System</h4></li>
  <li><a href="/">Home</a></li>
  {{/unless}}
</ul>