{{#if_eq user.type 'manager'}}
<h2>Management Page</h2>
<h4>Marks of each faculty assessed by HoD (module wise)</h4>
<br><br>
<form action="/users/management/search" method="post">
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s5">
                    <input id="email" name="filterEmail" value="{{fltEmail}}" type="text">
                    <label for="email">Email ID</label>
                </div>
                <div class="input-field col s5">
                    <input id="academic_year" name="academic_year" value="{{academicYear}}" type="text">
                    <label for="academic_year">Academic Year</label>
                </div>
                <div class="input-field col s2">
                    <button class="btn waves-effect waves-light purple" type="submit"><i class="fa fa-search white-text" aria-hidden="true"></i>&nbsp; Submit</button>
                </div>
            </div>
        </form>
    </div>
</form>

<table class="highlight centered responsive-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email ID</th>
            <th>Academic</th>
            <th>Leave</th>
            <th>annexure 1</th>
            <th>Academic 2</th>
            <th>Academic 3</th>
            <th>Confidential</th>
            <th>Academic Year</th>
        </tr>
    </thead>
    <tbody>
        {{#if result}}
        {{#each result}}

        <tr>
            <td>{{faculty_name}}</td>
            <td>{{faculty_email}}</td>
            <td>{{academicPerformance}}</td>
            <td>{{leaveRecord}}</td>
            <td>{{annexure_1}}</td>
            <td>{{annexure_2}}</td>
            <td>{{annexure_3}}</td>
            <td>{{confidential}}</td>
            <td>{{academic_year}}</td>
        </tr>

        {{/each}}
    </tbody>
</table>
{{else}}
</tbody>
</table>
{{/if}}
<br><br><br><br><br>

{{else}}

{{/if_eq}}