{{#if_eq user.type 'manager'}}
<h2>Management Page</h2>
<h4>Marks of each faculty assessed by HoD (module wise)</h4>
<br><br>

<table class="highlight centered responsive-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email ID</th>
            <th>Academic</th>
            <th>Leave</th>
            <th>annexure 1</th>
            <th>Academic 2</th>
            <th>Academic 3</th>
            <th>Confidential</th>
        </tr>
    </thead>
    <tbody>
    {{#if result}}
    {{#each result}}
    
        <tr>
            <td>{{faculty_name}}</td>
            <td>{{faculty_email}}</td>
            <td>{{academicPerformance}}</td>
            <td>{{leaveRecord}}</td>
            <td>{{annexure_1}}</td>
            <td>{{annexure_2}}</td>
            <td>{{annexure_3}}</td>
            <td>{{confidential}}</td>
        </tr>
    
    {{/each}}
    </tbody>
</table>
{{else}}
</tbody>
</table>
{{/if}}
<br><br><br><br><br>

{{else}}

{{/if_eq}}