<h5>Annexure 3</h5><br>
<div class="container">
    <h6>3.2 Contribution To Syllabus Framing</h6>
    <hr>
    {{#if result}}
    {{#each result}}
    <div class="row">
        <div class="input-field col s6 md5">
            <input id="nameofSub" type="text" name="nameofSub" value="{{nameofSub}}" disabled class="validate" required>
            <label for="nameofSub">Name Of Subject</label>
        </div>

        <div class="input-field col s6 md5">
            <input id="role" type="text" name="role" value="{{role}}" disabled class="validate" required>
            <label for="role">Role</label>
        </div>
    </div>
    <div class="row">

        <div class="input-field col s6 md5">
            <input id="nameofUni" type="text" name="nameofUniversity" value="{{nameofUniversity}}" disabled
                class="validate" required>
            <label for="nameofUni">Name Of University</label>
        </div>

        <div class="input-field col s6 md5">
            <input id="otherDetails" type="text" name="otherDetails" value="{{otherDetails}}" disabled class="validate"
                required>
            <label for="otherDetails">Other Details</label>
        </div>
    </div>
    <a href="/annexure-3/contributionToSyllabus/edit/{{id}}"
        class="btn waves-effect waves-light red center mb-2">Edit</a>
    <a href="/users/faculty/facultyOverview" class="btn waves-effect waves-light purple center mb-2">Back to
        overview</a><br><br>
    <form method="post" action="/annexure-3/contributionToSyllabus/delete/{{id}}?_method=DELETE">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" class="btn waves-effect waves-light center red white-text" value="Delete">
    </form>
</div>
</div>
</div>
{{else}}
{{/each}}
{{else}}
{{#if editResult}}
<form action="/annexure-3/contributionToSyllabus/{{editResult.id}}?_method=PUT" method="post" class="col s12">
    <input type="hidden" name="_method" value="PUT">
    <div class="row">
        <div class="input-field col s6 md5">
            <input id="nameofSub" type="text" name="nameofSub" value="{{editResult.nameofSub}}" class="validate"
                required>
            <label for="nameofSub">Name Of Subject</label>
        </div>

        <div class="input-field col s6 md5">
            <input id="role" type="text" name="role" value="{{editResult.role}}" class="validate" required>
            <label for="role">Role</label>
        </div>
    </div>
    <div class="row">

        <div class="input-field col s6 md5">
            <input id="nameofUni" type="text" name="nameofUniversity" value="{{editResult.nameofUniversity}}"
                class="validate" required>
            <label for="nameofUni">Name Of University</label>
        </div>

        <div class="input-field col s6 md5">
            <input id="otherDetails" type="text" name="otherDetails" value="{{editResult.otherDetails}}"
                class="validate" required>
            <label for="otherDetails">Other Details</label>
        </div>
    </div>
    <div>
        <p>
            <label>
                <input id="indeterminate-checkbox" type="checkbox" />
                <span>I acknowledge that above filled information is verified and justified by me.</span>
            </label>
        </p>
    </div>
    <button class="btn waves-effect waves-light" type="submit" id="submit_btn" disabled>Submit
    </button>
</form>
</div>
</div>
</div>
{{else}}
<form action="/annexure-3/contributionToSyllabus" method="post" class="col s12">
    <div class="row">

        <div class="input-field col s6 md5">
            <input id="nameofSub" type="text" name="nameofSub" class="validate" required>
            <label for="nameofSub">Name Of Subject</label>
        </div>

        <div class="input-field col s6 md5">
            <input id="role" type="text" name="role" class="validate" required>
            <label for="role">Role</label>
        </div>
    </div>
    <div class="row">

        <div class="input-field col s6 md5">
            <input id="nameofUni" type="text" name="nameofUniversity" class="validate" required>
            <label for="nameofUni">Name Of University</label>
        </div>

        <div class="input-field col s6 md5">
            <input id="otherDetails" type="text" name="otherDetails" class="validate" required>
            <label for="otherDetails">Other Details</label>
        </div>
    </div>

    <div>
        <p>
            <label>
                <input id="indeterminate-checkbox" type="checkbox" />
                <span>I acknowledge that above filled information is verified and justified by me.</span>
            </label>
        </p>
    </div>
    <a href="/annexure-3/memberOfUniversityCommitte" class="waves-effect waves-light btn center red">Not Applicable</a>
    <button class="btn waves-effect waves-light" type="submit" id="submit_btn" disabled>Submit
    </button>
</form>
</div>
{{/if}}
{{/if}}
</div>