<h4>Annexure 3</h4><br>
<div class="container">
<h5>3.1 Resource Person in STTP/Training Course/Lecture Talks</h5>
<hr>
{{#if result}}
{{#each result}}
        <div class="row">
            <div class="input-field col s6 md5">
                <input id="topicName" type="text" name="topicName" value="{{topicName}}" disabled class="validate" required>
                <label for="topicName">Topic Name</label>
            </div>
            
            <div class="input-field col s6 md5">
                <select name="department">
                    <option value="{{department}}" selected>{{department}}</option>
                    <option value="Information Technology" disabled>Information Technology</option>
                    <option value="Computer Engineering" disabled>Computer Engineering</option>
                    <option value="Mechanical Engineering" disabled>Mechanical Engineering</option>
                    <option value="Civil Engineering" disabled>Civil Engineering</option>
                    <option value="EXTC Engineering" disabled>EXTC Engineering</option>
                </select>
            </div>
        </div>


        <div class="row">
            
            <div class="input-field col s6 md5">
                <input id="nameofInstitute" type="text" name="nameofInstitute" value="{{nameofInstitute}}" disabled class="validate" required>
                <label for="nameofInstitute">Name Of Institute</label>
            </div>
            
             <div class="input-field col s6 md5">
                <input id="numberofParticipants" type="number" name="numberofParticipants" value="{{numberofParticipants}}" disabled class="validate" required>
                <label for="numberofParticipants">Number Of Participants</label>
            </div>

        </div>
            <a href="/annexure-3/resourcePerson/edit/{{id}}" class="btn waves-effect waves-light red center mb-2">Edit</a>
            <a href="/users/faculty/facultyOverview" class="btn waves-effect waves-light purple center mb-2">Back to
                overview</a><br><br>
            <form method="post" action="/annexure-3/resourcePerson/delete/{{id}}?_method=DELETE">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" class="btn waves-effect waves-light center red white-text" value="Delete">
            </form>
        </div>
    </div>
    </div>
{{else}}
{{/each}}
{{else}}
{{#if editResult}}
<form action="/annexure-3/resourcePerson/{{editResult.id}}?_method=PUT" method="post" class="col s12">
    <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field col s6 md5">
                <input id="topicName" type="text" name="topicName" value="{{editResult.topicName}}"  class="validate" required>
                <label for="topicName">Topic Name</label>
            </div>
            
            <div class="input-field col s6 md5">
                <select name="department" required class="validate">
                    <option value="{{editResult.department}}"selected>{{editResult.department}}</option>
                    <option value="Information Technology" >Information Technology</option>
                    <option value="Computer Engineering" >Computer Engineering</option>
                    <option value="Mechanical Engineering" >Mechanical Engineering</option>
                    <option value="Civil Engineering" >Civil Engineering</option>
                    <option value="EXTC Engineering" >EXTC Engineering</option>
                </select>
            </div>
        </div>


        <div class="row">
            
            <div class="input-field col s6 md5">
                <input id="nameofInstitute" type="text" name="nameofInstitute" value="{{editResult.nameofInstitute}}"  class="validate" required>
                <label for="nameofInstitute">Name Of Institute</label>
            </div>
            
             <div class="input-field col s6 md5">
                <input id="numberofParticipants" type="number" name="numberofParticipants" value="{{editResult.numberofParticipants}}"  class="validate" required>
                <label for="numberofParticipants">Number Of Participants</label>
            </div>

        <div>
             <p>
                 <label>
                <input id="indeterminate-checkbox" type="checkbox" required/>
                 <span>I acknowledge that above filled information is verified and justified by me.</span>
                </label>
            </p>
        </div>
        <button class="btn waves-effect waves-light" id="submit_btn" type="submit" disabled>Submit
        </button>
    </form>
{{else}}
    <form action="/annexure-3/resourcePerson" method="post" class="col s12">
        <div class="row">
            
            <div class="input-field col s6 md5">
                <input id="topicName" type="text" name="topicName" class="validate" required>
                <label for="topicName">Topic Name</label>
            </div>
            
            <div class="input-field col s6 md5">
                <select name="department">
                    <option value="" disabled selected>Department</option>
                    <option value="Information Technology">Information Technology</option>
                    <option value="Computer Engineering">Computer Engineering</option>
                    <option value="Mechanical Engineering">Mechanical Engineering</option>
                    <option value="Civil Engineering">Civil Engineering</option>
                    <option value="EXTC Engineering">EXTC Engineering</option>
                </select>
            </div>
        </div>


        <div class="row">
            
            <div class="input-field col s6 md5">
                <input id="nameofInstitute" type="text" name="nameofInstitute" class="validate" required>
                <label for="nameofInstitute">Name Of Institute</label>
            </div>
            
             <div class="input-field col s6 md5">
                <input id="numberofParticipants" type="number" name="numberofParticipants" class="validate" required>
                <label for="numberofParticipants">Number Of Participants</label>
            </div>

        </div>

        <div>
             <p>
                 <label>
                <input id="indeterminate-checkbox" type="checkbox" required/>
                 <span>I acknowledge that above filled information is verified and justified by me.</span>
                </label>
            </p>
        </div>

  <a href="/annexure-3/contributionToSyllabus" class="waves-effect waves-light btn center red">Not Applicable</a>
        <button class="btn waves-effect waves-light" id="submit_btn" type="submit" disabled>Submit
        </button>
    </form>
    </div>
    {{/if}}
    {{/if}}