<h5>Annexure 1</h5><br>
<div class="container">
    <h6>1.16 Lakshya Related Activties</h6>
    <hr>
{{#if result}}
{{#each result}}
    <div class="row" id=" Lakshya Related Activties">
            <div class="row">
                <div class="input-field col s6 md5">
                    <input id="lakshya_activities" type="text" name="lakshya_activities" disabled value="{{lakshya_activities}}" class="validate" required>
                    <label for="lakshya_activities">Activties Conducted</label>
                </div>
                <div class="input-field col s6">
                    <textarea name="lakshya_description" id="lakshya_description" disabled aria-valuetext="{{lakshya_description}}" class="materialize-textarea validate"
                        required>{{lakshya_description}}</textarea>
                    <label for="lakshya_description">Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="class" type="text" name="lakshya_date" disabled value="{{lakshya_date}}" class="datepicker validate">
                    <label for="class">Date</label>

                </div>

                <div class="input-field col s6">
<input id="lakshya-no-of-participants" type="number" name="lakshya_no_of_participants" value="{{lakshya_no_of_participants}}"
                        class="validate" required>
                    <label for="lakshya-no-of-participants">No. of Participants &nbsp; <a href="#" class="tooltipped"
                data-tooltip="Number of Participating students"><i class="fa fa-info-circle"></i></a></label>
                </div>
            </div>
        <a href="/annexure-1/lakshya/edit/{{id}}" class="btn waves-effect waves-light red center mb-2">Edit</a>
        <a href="/users/faculty/facultyOverview" class="btn waves-effect waves-light purple center mb-2">Back to
            overview</a><br><br>
        <form method="post" action="/annexure-1/lakshya/delete/{{id}}?_method=DELETE">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" class="btn waves-effect waves-light center red white-text" value="Delete">
        </form>
        </div>
    </div> 
{{else}}
{{/each}}
{{else}}
{{#if editResult}}
<div class="row" id=" Lakshya Related Activties">
        <form action="/annexure-1/lakshya/{{editResult.id}}?_method=PUT" method="post" class="col s12">
            <input type="hidden" name="_method" value="PUT">
            <div class="row">
                <div class="input-field col s6 md5">
                    <input id="lakshya_activities" type="text" name="lakshya_activities" value="{{editResult.lakshya_activities}}" class="validate" required>
                    <label for="lakshya_activities">Activties Conducted</label>
                </div>
                <div class="input-field col s6">
                    <textarea name="lakshya_description" id="lakshya_description" aria-valuetext="{{editResult.lakshya_description}}" class="materialize-textarea validate"
                        required>{{editResult.lakshya_description}}</textarea>
                    <label for="lakshya_description">Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="class" type="text" name="lakshya_date" value="{{editResult.lakshya_date}}" class="datepicker validate" required>
                    <label for="class">Date</label>

                </div>

                <div class="input-field col s6">
                    <input id="lakshya-no-of-participants" type="number" name="lakshya_no_of_participants" value="{{editResult.lakshya_no_of_participants}}" class="validate" required>
<label for="lakshya-no-of-participants">No. of Participants &nbsp; <a href="#" class="tooltipped"
                data-tooltip="Number of Participating students"><i class="fa fa-info-circle"></i></a></label>
                </div>
            </div>
            <div>
                <p>
                    <label>
                        <input id="indeterminate-checkbox" type="checkbox" required />
                        <span>I acknowledge that above filled information is verified and justified by me.</span>
                    </label>
                </p>
            </div>
            <button
                class="btn waves-effect waves-dark" id="submit_btn" type="submit" disabled>Submit
            </button>
        </form>
    </div>
    </div>
</div>
{{else}}
    <div class="row" id=" Lakshya Related Activties">
        <form action="/annexure-1/lakshya" method="post" class="col s12">
            <div class="row">
                <div class="input-field col s6 md5">
                    <input id="lakshya_activities" type="text" name="lakshya_activities" value="{{lakshya_activities}}" class="validate" required>
                    <label for="lakshya_activities">Activties Conducted</label>
                </div>
                <div class="input-field col s6">
                    <textarea name="lakshya_description" id="lakshya_description" class="materialize-textarea validate"required>{{lakshya_description}}</textarea>
                    <label for="lakshya_description">Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="class" type="text" name="lakshya_date" value="{{lakshya_date}}" class="datepicker validate" required>
                    <label for="class">Date</label>

                </div>

                <div class="input-field col s6">
                    <input id="lakshya-no-of-participants" type="number" name="lakshya_no_of_participants" value="{{lakshya_no_of_participants}}"
                        class="validate" required>
<label for="lakshya-no-of-participants">No. of Participants &nbsp; <a href="#" class="tooltipped"
                data-tooltip="Number of Participating students"><i class="fa fa-info-circle"></i></a></label>
                </div>
            </div>
            <div>
                <p>
                    <label>
                        <input id="indeterminate-checkbox" type="checkbox" required />
                        <span>I acknowledge that above filled information is verified and justified by me.</span>
                    </label>
                </p>
            </div>
            <a href="/annexure-1/magazineNewsletter" class="waves-effect waves-light btn red center">Not Applicable</a>
            <button
                class="btn waves-effect waves-dark" id="submit_btn" type="submit" disabled>Submit
            </button>
        </form>
    </div>
</div>
{{/if}}
{{/if}}