<h4>Annexure 1</h4><br>
<div class="container">
<h5>1.9 Student Organization Activities</h5>
<hr>
{{#if result}}
{{#each result}}
<div class="row" id="studentOrganizations">
        <div class="row">
            <div class="input-field col s6 md5">
                <input id="student-organizations-trainings" type="text" name="student_organizations_trainings" value="{{student_organizations_trainings}}" class="validate" required>
                <label for="student-organizations-trainings">Events/Trainings/Workshops conducted</label>
            </div>
              <div class="input-field col s6">
                <select name="class_name">
                    <option value="{{class_name}}" disabled selected>{{class_name}}</option>
                    <option value="FE">FE</option>
                    <option value="SE">SE</option>
                    <option value="TE">TE</option>
                    <option value="BE">BE</option>
                </select>
                <label for="">Class</label>
            </div>
        </div>

        <div class="row">

            <div class="input-field col s6">
                <select name="department">
                    <option value="{{department}}" disabled selected>{{department}}</option>
                    <option value="Information Technology">Information Technology</option>
                    <option value="Computer Engineering">Computer Engineering</option>
                    <option value="Mechanical Engineering">Mechanical Engineering</option>
                    <option value="Civil Engineering">Civil Engineering</option>
                    <option value="EXTC Engineering">EXTC Engineering</option>
                </select>
                <label for="">Department</label>
            </div>
            
            <div class="input-field col s6 md5">
                <input id="no-of-participants" type="number" name="no_of_participants" value="{{no_of_participants}}" class="validate" required>
                <label for="no-of-participants">Number of students participated</label>
            </div>   
            
        </div>
        <div class="row">

           <div class="input-field col s6 md5">
                <select name="student_organization_role">
                    <option value="{{student_organization_role}}" disabled selected>{{student_organization_role}}</option>
                    <option value="incharge">Incharge</option>
                    <option value="co-ordintor">Co-ordinator</option>
                </select>
                <label for="">Role</label>
            </div>
            
            <div class="input-field col s6 md5">
                <input id="student-event-duration" type="number" name="student_event_duration" value="{{student_event_duration}}" class="validate" required>
                <label for="student-event-duration">Duration(hours)</label>
            </div>   
            
        </div>
        <div class="row">
           
             <div class="input-field col s6 md5">
                <input id="student-event-start-date" type="text" name="student_event_start_date" value="{{student_event_start_date}}" class="datepicker validate" required>
                <label for="student-event-start-date">Start Date</label>
            </div>
            
            <div class="input-field col s6 md5">
                <input id="student-event-end-date" type="text" name="student_event_end_date" value="{{student_event_end_date}}" class="datepicker validate" required>
                <label for="student-event-end-date">End Date</label>
            </div>
        </div>
        <a href="/annexure-1/studentOrganizations/edit/{{id}}" class="btn waves-effect waves-light red center mb-2">Edit</a>
            <a href="/users/faculty/facultyOverview" class="btn waves-effect waves-light purple center mb-2">Back to
                overview</a><br><br>
            <form method="post" action="/annexure-1/studentOrganizations/delete/{{id}}?_method=DELETE">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" class="btn waves-effect waves-light center red white-text" value="Delete">
            </form>
        </div>
    </div> 
{{else}}
{{/each}}
{{else}}
{{#if editResult}}
<div class="row" id="studentOrganizations">
    <form action="/annexure-1/studentOrganizations/{{editResult.id}}?_method==PUT" method="post" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field col s6 md5">
                <input id="student-organizations-trainings" type="text" name="student_organizations_trainings" value="{{editResult.student_organizations_trainings}}" class="validate" required>
                <label for="student-organizations-trainings">Events/Trainings/Workshops conducted</label>
            </div>
              <div class="input-field col s6">
                <select name="class_name" class="validate" required>
                    <option value="{{editResult.class_name}}" disabled selected>{{editResult.class_name}}</option>
                    <option value="FE">FE</option>
                    <option value="SE">SE</option>
                    <option value="TE">TE</option>
                    <option value="BE">BE</option>
                </select>
                <label for="">Class</label>
            </div>
        </div>

        <div class="row">

            <div class="input-field col s6">
                <select name="department" required>
                    <option value="{{editResult.department}}" selected>{{editResult.department}}</option>
                    <option value="Information Technology">Information Technology</option>
                    <option value="Computer Engineering">Computer Engineering</option>
                    <option value="Mechanical Engineering">Mechanical Engineering</option>
                    <option value="Civil Engineering">Civil Engineering</option>
                    <option value="EXTC Engineering">EXTC Engineering</option>
                </select>
                <label for="">Department</label>
            </div>
            
            <div class="input-field col s6 md5">
                <input id="no-of-participants" type="number" name="no_of_participants" value="{{editResult.no_of_participants}}" class="validate" required>
                <label for="no-of-participants">Number of students participated</label>
            </div>   
            
        </div>
        <div class="row">

           <div class="input-field col s6 md5">
                <select name="student_organization_role" class="validate" required>
                    <option value="{{editResult.student_organization_role}}" disabled selected>{{editResult.student_organization_role}}</option>
                    <option value="incharge">Incharge</option>
                    <option value="co-ordintor">Co-ordinator</option>
                </select>
                <label for="">Role</label>
            </div>
            
            <div class="input-field col s6 md5">
                <input id="student-event-duration" type="number" name="student_event_duration" value="{{editResult.student_event_duration}}" class="validate" required>
                <label for="student-event-duration">Duration(hours)</label>
            </div>   
            
        </div>
        <div class="row">
           
             <div class="input-field col s6 md5">
                <input id="student-event-start-date" type="text" name="student_event_start_date" value="{{editResult.student_event_start_date}}" class="datepicker validate" required>
                <label for="student-event-start-date">Start Date</label>
            </div>
            
            <div class="input-field col s6 md5">
                <input id="student-event-end-date" type="text" name="student_event_end_date" value="{{editResult.student_event_end_date}}" class="datepicker validate" required>
                <label for="student-event-end-date">End Date</label>
            </div>
        </div>
        <div>
             <p>
                 <label>
                <input id="indeterminate-checkbox" type="checkbox" required/>
                 <span>I acknowledge that above filled information is verified and justified by me.</span>
                </label>
            </p>
        </div>
        <button class="btn waves-effect waves-light" id="submit_btn" type="submit" disabled>Submit
        </button>
    </form>
</div>
</div>
</div>
{{else}}
<div class="row" id="studentOrganizations">
    <form action="/annexure-1/studentOrganizations" method="post" class="col s12">
        <div class="row">
            <div class="input-field col s6 md5">
                <input id="student-organizations-trainings" type="text" name="student_organizations_trainings" class="validate" required>
                <label for="student-organizations-trainings">Events/Trainings/Workshops conducted</label>
            </div>
              <div class="input-field col s6">
                <select name="class_name">
                    <option value="" disabled selected>Class</option>
                    <option value="FE">FE</option>
                    <option value="SE">SE</option>
                    <option value="TE">TE</option>
                    <option value="BE">BE</option>
                    
                </select>
            </div>
        </div>

        <div class="row">

            <div class="input-field col s6">
                <select name="department">
                    <option value="" disabled selected>Department</option>
                    <option value="Information Technology">Information Technology</option>
                    <option value="Computer Engineering">Computer Engineering</option>
                    <option value="Mechanical Engineering">Mechanical Engineering</option>
                    <option value="Civil Engineering">Civil Engineering</option>
                    <option value="EXTC Engineering">EXTC Engineering</option>
                </select>
            </div>
            
            <div class="input-field col s6 md5">
                <input id="no-of-participants" type="number" name="no_of_participants" class="validate" required>
                <label for="no-of-participants">Number of students participated</label>
            </div>   
            
        </div>
        <div class="row">

           <div class="input-field col s6 md5">
                <select name="student_organization_role">
                    <option value="" disabled selected>Role</option>
                    <option value="incharge">Incharge</option>
                    <option value="co-ordintor">Co-ordinator</option>
                  
                </select>
            </div>
            
            <div class="input-field col s6 md5">
                <input id="student-event-duration" type="number" name="student_event_duration" class="validate" required>
                <label for="student-event-duration">Duration(hours)</label>
            </div>   
            
        </div>
        <div class="row">
           
             <div class="input-field col s6 md5">
                <input id="student-event-start-date" type="text" name="student_event_start_date" class="datepicker validate" required>
                <label for="student-event-start-date">Start Date</label>
            </div>
            
            <div class="input-field col s6 md5">
                <input id="student-event-end-date" type="text" name="student_event_end_date" class="datepicker validate" required>
                <label for="student-event-end-date">End Date</label>
            </div>
        </div>
        <div>
             <p>
                 <label>
                <input id="indeterminate-checkbox" type="checkbox" required/>
                 <span>I acknowledge that above filled information is verified and justified by me.</span>
                </label>
            </p>
        </div>
        <a href="/annexure-1/industrialVisitActivities" class="waves-effect waves-light btn red center">Not Applicable</a>
        <button class="btn waves-effect waves-light" id="submit_btn" type="submit" disabled>Submit
        </button>
    </form>
</div>
</div>
{{/if}}
{{/if}}