<h5>Annexure-2</h5><br>
<div class="container">
    <h6>2.4 MOOCS</h6>
    <hr>
    {{#if result}}
    {{#each result}}
    <div class="row" id="moocs">
        <div class="row">
            <div class="input-field col s6 md5">
                <input id="name_of_moocs_undertaken" type="text" disabled name="name_of_moocs_undertaken"
                    value="{{name_of_moocs_undertaken}}" class="validate " required>
                <label for="name_of_moocs_undertaken">MOOCS Course &nbsp; <a href="#" class="tooltipped"
                        data-tooltip="Name of MOOCS Course undertaken"><i class="fa fa-info-circle"></i></a></label>
            </div>

            <div class="input-field col s6">
                <input id="moocs_date" type="text" name="moocs_date" disabled value="{{moocs_date}}" class="validate"
                    required>
                <label for="moocs_date">Month / Year</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6 md5">
                <input id="moocs_duartion" type="number" name="moocs_duartion" value="{{moocs_duartion}}" disabled
                    class="validate " required>
                <label for="moocs_duartion" class="">Duration Of Course</label>
            </div>

            <div class="input-field col s6">
                <select name="certification_status">
                    <option value="{{certification_status}}" disabled selected>{{certification_status}}</option>
                    <option value="YES" disabled>YES</option>
                    <option value="NO" disabled>NO</option>
                </select>
                <label for="">Completed?</label>
            </div>
        </div>
        <a href="/annexure-2/moocs/edit/{{id}}" class="btn waves-effect waves-light red center mb-2">Edit</a>
        <a href="/users/faculty/facultyOverview" class="btn waves-effect waves-light purple center mb-2">Back to
            overview</a><br><br>
        <form method="post" action="/annexure-2/moocs/delete/{{id}}?_method=DELETE">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" class="btn waves-effect waves-light center red white-text" value="Delete">
        </form>
    </div>
</div>

{{else}}
{{/each}}
{{else}}
{{#if editResult}}
<div class="row" id="moocs">
    <form action="/annexure-2/moocs/{{editResult.id}}?_method=PUT" method="post" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field col s6 md5">
                <input id="name_of_moocs_undertaken" type="text" name="name_of_moocs_undertaken"
                    value="{{editResult.name_of_moocs_undertaken}}" class="validate " required>
                <label for="name_of_moocs_undertaken">MOOCS Course &nbsp; <a href="#" class="tooltipped"
                        data-tooltip="Name of MOOCS Course undertaken"><i class="fa fa-info-circle"></i></a></label>
            </div>

            <div class="input-field col s6">
                <input id="moocs_date" type="text" name="moocs_date" value="{{editResult.moocs_date}}" class="validate"
                    required>
                <label for="moocs_date">Month / Year</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6 md5">
                <input id="moocs_duartion" type="number" name="moocs_duartion" value="{{editResult.moocs_duartion}}"
                    class="validate " required>
                <label for="moocs_duartion" class="">Duration Of Course</label>
            </div>

            <div class="input-field col s6">
                <select name="certification_status" required>
                    <option value="{{editResult.certification_status}}" selected>{{editResult.certification_status}}
                    </option>
                    <option value="YES">YES</option>
                    <option value="NO">NO</option>
                </select>
                <label for="">Completed?</label>
            </div>
        </div>
        <div>
            <p>
                <label>
                    <input id="indeterminate-checkbox" type="checkbox" required />
                    <span>I acknowledge that above filled information is verified and justified by me.</span>
                </label>
            </p>
        </div>
        <button class="btn waves-effect waves-light" type="submit" id="submit_btn" disabled>Submit
        </button>
    </form>
</div>
</div>
</div>
{{else}}
<div class="row" id="moocs">
    <form action="/annexure-2/moocs" method="post" class="col s12">

        <div class="row">
            <div class="input-field col s6 md5">
                <input id="name_of_moocs_undertaken" type="text" name="name_of_moocs_undertaken" class="validate "
                    required>
                <label for="name_of_moocs_undertaken">MOOCS Course &nbsp; <a href="#" class="tooltipped"
                        data-tooltip="Name of MOOCS Course undertaken"><i class="fa fa-info-circle"></i></a></label>
            </div>

            <div class="input-field col s6">
                <input id="moocs_date" type="text" name="moocs_date" class="validate" required>
                <label for="moocs_date">Month / Year</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6 md5">
                <input id="moocs_duartion" type="number" name="moocs_duartion" class="validate " required>
                <label for="moocs_duartion" class="">Duration Of Course</label>
            </div>

            <div class="input-field col s6">
                <select name="certification_status">
                    <option value="" disabled selected>Completed?</option>
                    <option value="YES">YES</option>
                    <option value="NO">NO</option>
                </select>
            </div>
        </div>
        <div>
            <p>
                <label>
                    <input id="indeterminate-checkbox" type="checkbox" required />
                    <span>I acknowledge that above filled information is verified and justified by me.</span>
                </label>
            </p>
        </div>
        <a href="/annexure-2/swayam" class="waves-effect waves-light btn red center">Not Applicable</a>
        <button class="btn waves-effect waves-light" type="submit" id="submit_btn" disabled>Submit
        </button>
    </form>
</div>
</div>
{{/if}}
{{/if}}