
<h2>HoD Page</h2>
<h4>Marks of each faculty assessed by HoD(module wise)</h4>
<br><br>

<table class="highlight centered responsive-table">
    <thead>
        <tr>
            <th>Faculty Name</th>
            <th>Faculty Email ID</th>
            <th>Academic (H.|F.)</th>
            <th>Leave Record (H.|F.)</th>
            <th>annexure 1 (H.|F.)</th>
            <th>Academic 2 (H.|F.)</th>
            <th>Academic 3 (H.|F.)</th>
            <th>Confidential</th>
            <th>Academic Year</th>
        </tr>
    </thead>
    <tbody>
    {{#if result}}
    {{#each result}}
    
        <tr>
            <td>{{faculty_name}}</td>
            <td>{{faculty_email}}</td>
            <td>{{academicPerformance}} | {{facultyAP}}</td>
            <td>{{leaveRecord}} | {{facultyLeave}}</td>
            <td>{{annexure_1}} | {{facultyA1}}</td>
            <td>{{annexure_2}} | {{facultyA2}}</td>
            <td>{{annexure_3}} | {{facultyA3}}</td>
            <td>{{confidential}}</td>
            <td>{{academic_year}}</td>
        </tr>
    
    {{/each}}
    </tbody>
</table>
{{else}}
</tbody>
</table>
{{/if}}
<br><br><br><br><br>