
<h5>HoD Page</h5>
<h6>Academic Year submitted by {{facultyName}}</h6>
<br><br>

<table class="highlight centered responsive-table">
    <thead>
        <tr>
            <th>Faculty Email ID</th>
            <th>Academic</th>
            <th>Leave Record</th>
            <th>annexure 1</th>
            <th>Academic 2</th>
            <th>Academic 3</th>
            <th>Academic Year</th>
            <th>HoD Feedback</th>
        </tr>
    </thead>
    <tbody>
    {{#if result}}
    {{#each result}}
    
        <tr>
            <td>{{../facultyEmail}}</td>
            <td>{{academicPerformance}}</td>
            <td>{{leaveRecord}}</td>
            <td>{{annexure_1}}</td>
            <td>{{annexure_2}}</td>
            <td>{{annexure_3}}</td>
            <td>{{academic_year}}</td>
            <td><a href="/users/hod/hodOverview/{{../facultID}}/{{academic_year}}" class="red-text">Click Here</a></td>
        </tr>
    
    {{/each}}
    </tbody>
</table>
{{else}}
</tbody>
</table>
{{/if}}
<br><br><br><br><br>