<h4></h4>
<div class="row">
    <div class="col s8">
        <h5>HoD's Overview: Part-A</h5>
    </div>
    {{#each finalResult}}
    <div class="col s4">
        <form action="/users/hod/pdf/{{user}}" method="post">
            <h5 class="right"> <button class="btn waves-effect waves-light" type="submit" id="submit_btn">PDF <i
                        class="fa fa-download white-text" aria-hidden="true"></i></button></h5>
        </form>
    </div>
</div>
<hr>
<div class="row">

    {{#if ../hodMarks}}
    <form action="/users/hod/finalSubmit" method="post">
        <ul class="collapsible popout" data-collapsible="accordion">
            <li id="overview">
                <div class="collapsible-header"><i class="material-icons">book</i><b>Academic Performance</b>
                    <div class="right inline col s12 m4 l2">
                        <input id="score_inline" placeholder="Score ( /40)" name="academicPerformance" disabled
                            value="{{../hodMarks.academicPerformance}}" type="number" class="validate">
                    </div>
                    <br><br><br>
                </div>
                <div class="collapsible-body">
                    <ul class="collection">
                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../teachingLoad}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    Teaching Load


                                </div>
                            </p>
                        </li>


                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../teachingAssistant}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    Teaching Assistant


                                </div>
                            </p>
                        </li>


                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../newBooks}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    New Books Suggested To Library


                                </div>
                            </p>
                        </li>


                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../addedExp}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    Additional Experiment Added To Lab Manual


                                </div>
                            </p>
                        </li>


                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../innovation}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    Innovative Teaching Technique Adapted


                                </div>
                            </p>
                        </li>
                    </ul>
                </div>
            </li>

            <li id="overview">

                <div class="collapsible-header"><i class="material-icons">book</i><b>Leave Form</b>
                    <div class="right inline col s12 m4 l2">
                        <input id="score_inline" placeholder="Score ( /40)" name="leaveRecord" disabled
                            value="{{../hodMarks.leaveRecord}}" type="number" class="validate">
                    </div>
                    <br><br><br>
                </div>
                <div class="collapsible-body">
                    <ul class="collection">
                        <li class="collection-item">
                            <p>
                                <div>{{#if ../leave}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    Leave Record


                                </div>
                            </p>
                        </li>
                    </ul>
                </div>
            </li>

            <li id="overview">
                <div class="collapsible-header"><i class="material-icons">book</i><b>Annexure 1</b>
                    <div class="right inline col s12 m4 l2">
                        <input id="score_inline" placeholder="Score ( /40)" name="annexure_1" disabled
                            value="{{../hodMarks.annexure_1}}" type="number" class="validate">
                    </div>
                    <br><br><br>
                </div>
                <div class="collapsible-body">
                    <ul class="collection">
                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../timeTable}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    1.1 Timetable Related Activities


                                </div>
                            </p>
                        </li>

                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../classAdvisor}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    1.2 Class Advisor


                                </div>
                            </p>
                        </li>

                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../sportsActivities}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    1.3 Sports Activities


                                </div>
                            </p>
                        </li>

                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../culturalActivities}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    1.4 Cultural Activities


                                </div>
                            </p>
                        </li>

                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../projectBasedLearning}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    1.5 Project Based Learning


                                </div>
                            </p>
                        </li>

                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../uddan}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}1.6 UDAAN Incubation Activities


                                </div>
                            </p>
                        </li>

                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../placementActivities}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    1.7 Placement Activities


                                </div>
                            </p>
                        </li>

                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../inhousePlacement}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    1.8 In-house Placement Activities(Trainings and Workshops)


                                </div>
                            </p>
                        </li>


                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../studentOrganization}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    1.9 Student Organisation Activity


                                </div>
                            </p>
                        </li>

                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../industrialVisitActivities}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    1.10 Industrial Visit Activities


                                </div>
                            </p>
                        </li>

                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../admissionProcessActivities}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    1.11 Admission Related Activities


                                </div>
                            </p>
                        </li>

                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../examActivitiesSupervision}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    1.12 Exam related activities(University exams Supervision)


                                </div>
                            </p>
                        </li>

                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../examAssessmentExternal}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    1.13 Exam related activities(External)


                                </div>
                            </p>
                        </li>

                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../examActivitiesCollegeLevel}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    1.14 Exam related activities(Assessment/Oral/Practical Exams Conducted, college
                                    level)


                                </div>
                            </p>
                        </li>

                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../itMaintenance}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    1.15 IT Maintenance

                                </div>
                            </p>
                        </li>

                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../lakshya}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    1.16 Lakshya Related Activities

                                </div>
                            </p>
                        </li>

                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../magazineNewsletter}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    1.17 Magazine/Newsletter Related Activities

                                </div>
                            </p>
                        </li>

                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../sttp}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    1.18 Conduct Of STTP

                                </div>
                            </p>
                        </li>

                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../departmentUGProjects}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    1.19 Department UG Projects Undertaken

                                </div>
                            </p>
                        </li>
                    </ul>
                </div>
            </li>

            <li id="overview">
                <div class="collapsible-header"><i class="material-icons">book</i><b>Annexure 2</b>
                    <div class="right inline col s12 m4 l2">
                        <input id="score_inline" placeholder="Score ( /40)" name="annexure_2" disabled
                            value="{{../hodMarks.annexure_2}}" type="number" class="validate">
                    </div>
                    <br><br><br>
                </div>
                <div class="collapsible-body">
                    <ul class="collection">
                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../papersPublishedNationalConf}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    2.1 Papers Published In National Conference


                                </div>
                            </p>
                        </li>

                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../papersPublishedInternationalConf}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    2.2 Papers Published International Conference


                                </div>
                            </p>
                        </li>

                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../papersPublishedJournals}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    2.3 Papers Published In Journals


                                </div>
                            </p>
                        </li>

                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../moocs}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    2.4 MOOCS


                                </div>
                            </p>
                        </li>

                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../swayam}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    2.5 Swayam


                                </div>
                            </p>
                        </li>

                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../shortTermTraining}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    2.6 Short-Term Traning


                                </div>
                            </p>
                        </li>

                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../seminars}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    2.8 Seminars


                                </div>
                            </p>
                        </li>

                    </ul>
                </div>
            </li>


            <li id="overview">
                <div class="collapsible-header"><i class="material-icons">book</i><b>Annexure 3</b>
                    <div class="right inline col s12 m4 l2">
                        <input id="score_inline" placeholder="Score ( /40)" name="annexure_3" disabled
                            value="{{../hodMarks.annexure_3}}" type="number" class="validate">
                    </div>
                    <br><br><br>
                </div>
                <div class="collapsible-body">
                    <ul class="collection">
                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../resourcePerson}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    3.1Resource Person in STTP/Training Course/Lecture Talks


                                </div>
                            </p>
                        </li>

                        <li class="collection-item">
                            <p>
                                <div>{{#if ../contributionToSyllabus}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    3.2 Contribution To Syllabus Framing


                                </div>
                            </p>
                        </li>

                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../memberOfUniversityCommitte}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    3.3 Member Of University Committe


                                </div>
                            </p>
                        </li>

                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../consultancyAssignment}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}}
                                    3.4 Consultancy Assignment


                                </div>
                            </p>
                        </li>

                        <li class="collection-item">
                            <p>
                                <div>
                                    {{#if ../externalProjectsOrCompetition}}
                                    <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                    {{else}}
                                    <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                    {{/if}} 3.5 External Projects Or Competitions Participations


                                </div>
                            </p>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <br>
        <h5>HOD FORM: Part-B </h5>
        <div>

            <h6>HOD's Confidential Form : {{../hodMarks.confidential}}/20</h6>
            <hr>
            <div class="row" id="HOD's Feedback Form">

                <div class="input-field col s6 ">
                    <h5>1:Openness to new policies</h5>
                </div>

                <div class="input-field col s6">
                    <p>
                        <label class="">
                            <input name="value1" value="{{../hodMarks.value1}}" type="radio" disabled />
                            <span>Excellent</span>
                        </label>

                        <label>
                            <input name="value1" type="radio" disabled />
                            <span>Very Good</span>
                        </label>

                        <label>
                            <input name="value1" type="radio" disabled />
                            <span>Good</span>
                        </label>

                        <label>
                            <input name="value1" type="radio" disabled />
                            <span>Fair</span>
                        </label>
                    </p>
                </div>
            </div>

            <div class="row" id="HOD's Feedback Form">

                <div class="input-field col s6 ">
                    <h5>2:Quality of material uploaded on moodle and effective use of smartboard</h5>
                </div>

                <div class="input-field col s6">
                    <p>
                        <label class="">
                            <input name="value2" value="{{../hodMarks.value2}}" type="radio" disabled />
                            <span>Excellent</span>
                        </label>

                        <label>
                            <input name="value2" type="radio" disabled />
                            <span>Very Good</span>
                        </label>

                        <label>
                            <input name="value2" type="radio" disabled />
                            <span>Good</span>
                        </label>

                        <label>
                            <input name="value2" type="radio" disabled />
                            <span>Fair</span>
                        </label>
                    </p>
                </div>
            </div>

            <div class="row" id="HOD's Feedback Form">

                <div class="input-field col s6 ">
                    <h5>3:Regularity in updation of attendance, test/assignment assessment and defaulters list</h5>
                </div>

                <div class="input-field col s6">
                    <p>
                        <label class="">
                            <input name="value3" value="{{../hodMarks.value3}}" type="radio" disabled />
                            <span>Excellent</span>
                        </label>

                        <label>
                            <input name="value3" type="radio" disabled />
                            <span>Very Good</span>
                        </label>

                        <label>
                            <input name="value3" type="radio" disabled />
                            <span>Good</span>
                        </label>

                        <label>
                            <input name="value3" type="radio" disabled />
                            <span>Fair</span>
                        </label>
                    </p>
                </div>
            </div>

            <div class="row" id="HOD's Feedback Form">

                <div class="input-field col s6 ">
                    <h5>4:Efforts to improve student’s learning experience</h5>
                </div>

                <div class="input-field col s6">
                    <p>
                        <label class="">
                            <input name="value4" value="{{../hodMarks.value4}}" type="radio" disabled />
                            <span>Excellent</span>
                        </label>

                        <label>
                            <input name="value4" type="radio" disabled />
                            <span>Very Good</span>
                        </label>

                        <label>
                            <input name="value4" type="radio" disabled />
                            <span>Good</span>
                        </label>

                        <label>
                            <input name="value4" type="radio" disabled />
                            <span>Fair</span>
                        </label>
                    </p>
                </div>
            </div>

            <div class="row" id="HOD's Feedback Form">

                <div class="input-field col s6 ">
                    <h5>5:Openness to adopt/experiment new policies and potential working in a team</h5>
                </div>

                <div class="input-field col s6">
                    <p>
                        <label class="">
                            <input name="value5" value="{{../hodMarks.value5}}" type="radio" disabled />
                            <span>Excellent</span>
                        </label>

                        <label>
                            <input name="value5" value="{{../hodMarks.value5}}" type="radio" disabled />
                            <span>Very Good</span>
                        </label>

                        <label>
                            <input name="value5" value="{{../hodMarks.value5}}" type="radio" disabled />
                            <span>Good</span>
                        </label>

                        <label>
                            <input name="value5" value="{{../hodMarks.value5}}" type="radio" disabled />
                            <span>Fair</span>
                        </label>
                    </p>
                </div>
            </div>

            {{!-- <div>
            <p>
                <label>
                    <input id="indeterminate-checkbox" type="checkbox" required />
                    <span>I acknowledge that above filled information is verified and justified by me and is to be kept
                        <b>STRICTLY CONFIDENTIAL AND NOT DISCUSSED WITH FACULTY.</b></span>
                </label>
            </p>
        </div> --}}
        <p>Marks already submitted.</p>
            <button class="btn waves-effect waves-light" type="submit" id="submit_btn" disabled>Submit
            </button><br><br><br>
        </div>
    </form>
</div>
{{else}}
<form action="/users/hod/finalSubmit/{{user}}/{{../year}}" method="post">
    <ul class="collapsible popout" data-collapsible="accordion">
        <li id="overview">
            <div class="collapsible-header"><i class="material-icons">book</i><b>Academic Performance</b>
                <div class="right inline col s12 m4 l2">
                    <input id="score_inline" placeholder="Score ( /40)" name="academicPerformance"
                        value="{{academicPerformance}}" type="number" class="validate">
                </div>
                <br><br><br>
            </div>
            <div class="collapsible-body">
                <ul class="collection">
                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../teachingLoad}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                Teaching Load


                            </div>
                        </p>
                    </li>


                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../teachingAssistant}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                Teaching Assistant


                            </div>
                        </p>
                    </li>


                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../newBooks}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                New Books Suggested To Library


                            </div>
                        </p>
                    </li>


                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../addedExp}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                Additional Experiment Added To Lab Manual


                            </div>
                        </p>
                    </li>


                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../innovation}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                Innovative Teaching Technique Adapted


                            </div>
                        </p>
                    </li>
                </ul>
            </div>
        </li>

        <li id="overview">

            <div class="collapsible-header"><i class="material-icons">book</i><b>Leave Form</b>
                <div class="right inline col s12 m4 l2">
                    <input id="score_inline" placeholder="Score ( /40)" name="leaveRecord" value="{{leaveRecord}}"
                        type="number" class="validate">
                </div>
                <br><br><br>
            </div>
            <div class="collapsible-body">
                <ul class="collection">
                    <li class="collection-item">
                        <p>
                            <div>{{#if ../leave}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                Leave Record


                            </div>
                        </p>
                    </li>
                </ul>
            </div>
        </li>

        <li id="overview">
            <div class="collapsible-header"><i class="material-icons">book</i><b>Annexure 1</b>
                <div class="right inline col s12 m4 l2">
                    <input id="score_inline" placeholder="Score ( /40)" name="annexure_1" value="{{annexure_1}}"
                        type="number" class="validate">
                </div>
                <br><br><br>
            </div>
            <div class="collapsible-body">
                <ul class="collection">
                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../timeTable}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                1.1 Timetable Related Activities


                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../classAdvisor}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                1.2 Class Advisor


                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../sportsActivities}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                1.3 Sports Activities


                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../culturalActivities}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                1.4 Cultural Activities


                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../projectBasedLearning}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                1.5 Project Based Learning


                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../uddan}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}1.6 UDAAN Incubation Activities


                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../placementActivities}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                1.7 Placement Activities


                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../inhousePlacement}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                1.8 In-house Placement Activities(Trainings and Workshops)


                            </div>
                        </p>
                    </li>


                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../studentOrganization}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                1.9 Student Organisation Activity


                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../industrialVisitActivities}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                1.10 Industrial Visit Activities


                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../admissionProcessActivities}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                1.11 Admission Related Activities


                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../examActivitiesSupervision}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                1.12 Exam related activities(University exams Supervision)


                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../examAssessmentExternal}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                1.13 Exam related activities(External)


                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../examActivitiesCollegeLevel}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                1.14 Exam related activities(Assessment/Oral/Practical Exams Conducted, college level)


                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../itMaintenance}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                1.15 IT Maintenance

                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../lakshya}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                1.16 Lakshya Related Activities

                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../magazineNewsletter}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                1.17 Magazine/Newsletter Related Activities

                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../sttp}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                1.18 Conduct Of STTP

                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../departmentUGProjects}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                1.19 Department UG Projects Undertaken

                            </div>
                        </p>
                    </li>
                </ul>
            </div>
        </li>

        <li id="overview">
            <div class="collapsible-header"><i class="material-icons">book</i><b>Annexure 2</b>
                <div class="right inline col s12 m4 l2">
                    <input id="score_inline" placeholder="Score ( /40)" name="annexure_2" value="{{annexure_2}}"
                        type="number" class="validate">
                </div>
                <br><br><br>
            </div>
            <div class="collapsible-body">
                <ul class="collection">
                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../papersPublishedNationalConf}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                2.1 Papers Published In National Conference


                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../papersPublishedInternationalConf}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                2.2 Papers Published International Conference


                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../papersPublishedJournals}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                2.3 Papers Published In Journals


                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../moocs}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                2.4 MOOCS


                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../swayam}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                2.5 Swayam


                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../shortTermTraining}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                2.6 Short-Term Traning


                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../seminars}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                2.8 Seminars


                            </div>
                        </p>
                    </li>

                </ul>
            </div>
        </li>


        <li id="overview">
            <div class="collapsible-header"><i class="material-icons">book</i><b>Annexure 3</b>
                <div class="right inline col s12 m4 l2">
                    <input id="score_inline" placeholder="Score ( /40)" name="annexure_3" value="{{annexure_3}}"
                        type="number" class="validate">
                </div>
                <br><br><br>
            </div>
            <div class="collapsible-body">
                <ul class="collection">
                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../resourcePerson}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                3.1Resource Person in STTP/Training Course/Lecture Talks


                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>{{#if ../contributionToSyllabus}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                3.2 Contribution To Syllabus Framing


                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../memberOfUniversityCommitte}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                3.3 Member Of University Committe


                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../consultancyAssignment}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                3.4 Consultancy Assignment


                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if ../externalProjectsOrCompetition}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}} 3.5 External Projects Or Competitions Participations


                            </div>
                        </p>
                    </li>
                </ul>
            </div>
        </li>
    </ul>

    <h5>HOD FORM: Part-B </h5><br>
    <div>

        <h6>HOD's Feedback Form</h6>
        <hr>
        <div class="row" id="HOD's Feedback Form">

            <div class="input-field col s6 ">
                <h7>1:Openness to new policies</h7>
            </div>

            <div class="input-field col s6">
                <p>
                    <label class="">
                        <input name="value1" value="4" type="radio" required />
                        <span>Excellent</span>
                    </label>

                    <label>
                        <input name="value1" value="3" type="radio" />
                        <span>Very Good</span>
                    </label>

                    <label>
                        <input name="value1" value="2" type="radio" />
                        <span>Good</span>
                    </label>

                    <label>
                        <input name="value1" value="1" type="radio" />
                        <span>Fair</span>
                    </label>
                </p>
            </div>
        </div>

        <div class="row" id="HOD's Feedback Form">

            <div class="input-field col s6 ">
                <h7>2:Quality of material uploaded on moodle and effective use of smartboard</h7>
            </div>

            <div class="input-field col s6">
                <p>
                    <label class="">
                        <input name="value2" value="4" type="radio" required />
                        <span>Excellent</span>
                    </label>

                    <label>
                        <input name="value2" value="3" type="radio" />
                        <span>Very Good</span>
                    </label>

                    <label>
                        <input name="value2" value="2" type="radio" />
                        <span>Good</span>
                    </label>

                    <label>
                        <input name="value2" value="1" type="radio" />
                        <span>Fair</span>
                    </label>
                </p>
            </div>
        </div>

        <div class="row" id="HOD's Feedback Form">

            <div class="input-field col s6 ">
                <h7>3:Regularity in updation of attendance, test/assignment assessment and defaulters list</h7>
            </div>

            <div class="input-field col s6">
                <p>
                    <label class="">
                        <input name="value3" value="4" type="radio" required />
                        <span>Excellent</span>
                    </label>

                    <label>
                        <input name="value3" value="3" type="radio" />
                        <span>Very Good</span>
                    </label>

                    <label>
                        <input name="value3" value="2" type="radio" />
                        <span>Good</span>
                    </label>

                    <label>
                        <input name="value3" value="1" type="radio" />
                        <span>Fair</span>
                    </label>
                </p>
            </div>
        </div>

        <div class="row" id="HOD's Feedback Form">

            <div class="input-field col s6 ">
                <h7>4:Efforts to improve student’s learning experience</h7>
            </div>

            <div class="input-field col s6">
                <p>
                    <label class="">
                        <input name="value4" value="4" type="radio" required />
                        <span>Excellent</span>
                    </label>

                    <label>
                        <input name="value4" value="3" type="radio" />
                        <span>Very Good</span>
                    </label>

                    <label>
                        <input name="value4" value="2" type="radio" />
                        <span>Good</span>
                    </label>

                    <label>
                        <input name="value4" value="1" type="radio" />
                        <span>Fair</span>
                    </label>
                </p>
            </div>
        </div>

        <div class="row" id="HOD's Feedback Form">

            <div class="input-field col s6 ">
                <h7>5:Openness to adopt/experiment new policies and potential working in a team</h7>
            </div>

            <div class="input-field col s6">
                <p>
                    <label class="">
                        <input name="value5" value="4" type="radio" required />
                        <span>Excellent</span>
                    </label>

                    <label>
                        <input name="value5" value="3" type="radio" />
                        <span>Very Good</span>
                    </label>

                    <label>
                        <input name="value5" value="2" type="radio" />
                        <span>Good</span>
                    </label>

                    <label>
                        <input name="value5" value="1" type="radio" />
                        <span>Fair</span>
                    </label>
                </p>
            </div>
        </div>
        {{!-- <div>
            <p>
                <label>
                    <input id="indeterminate-checkbox" type="checkbox" required />
                    <span>I acknowledge that above filled information is verified and justified by me and is to be kept
                        <b>STRICTLY CONFIDENTIAL AND NOT DISCUSSED WITH FACULTY.</span>
                </label>
            </p>
        </div> --}}
        <div>
             <p>
                 <label>
                <input id="indeterminate-checkbox-overview" type="checkbox" required/>
                 <span>I acknowledge that above filled information is verified and justified by me.</span>
                </label>
            </p>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action" id="submit_btn_overview" disabled>Submit
            <i class="material-icons right">send</i>
        </button>
        <br><br><br>
    </div>
</form>
</div>
{{/if}}
{{else}}
<h2>Marks not submitted yet.</h2>
{{/each}}
</div>