<h4>Welcome {{user.name}} to the HOD page</h4><br>
<h3>List of faculties</h3>
<div class="row">
{{#each faculty}}

  <div class="col s12 m4 l3">
    <div class="card grey lighten-3">
      <div class="card-content black-text">
        <span class="card-title" style="font-size: 17px !important;"><b>{{name}}</b></span>
        <p>{{email}}</p>
        <p>Employee Type: {{type}}</p>
      </div>
      <div class="card-action">
        <a href="/users/hod/hodOverview/{{_id}}" class="purple-text">HoD Feedback</a>
      </div>
    </div>
  </div>

{{else}}
</div>
{{/each}}
</div>
</div>